The goal of the task to identify people (from an input dataset) referenced in the free-text
(second input dataset). More precisely, names_dataset contained list of full names of people, while description_dataset contained list of work descriptions created by
employees.

In [5]:
import pandas as pd
from IPython.display import display

In [6]:
names_data = {
    "full_name" : ["Suljo Mehic", "Wayne Rooney","Aleksandar Robertson-Mujic"]
}

names = pd.DataFrame (names_data)
display (names)

description_data = {
    "original_description" : ["Had call with W.R. and Suljo Mehic", "Had call with S.M. and W.R."]
}

description = pd.DataFrame (description_data)
display (description)

                    full_name
0                 Suljo Mehic
1                Wayne Rooney
2  Aleksandar Robertson-Mujic

                 original_description
0  Had call with W.R. and Suljo Mehic
1         Had call with S.M. and W.R.

In [7]:
def generate_name_variations (full_name):
    full_name = full_name.title()
    parts = full_name.split()
    initials = [part[0] for part in parts]

    variations = []
    
    variations.append(full_name)
    variations.append (parts[1] + " " + parts [0])
    variations.append (initials[0] + initials[1])
    variations.append (initials[1] + initials[0])
    variations.append (initials[0] + "." + initials[1])
    variations.append (initials[1] + "." + initials[0])

    

    return variations

In [8]:
full_names = ["Suljo Mehic", "Wayne Rooneye","Aleksandar Robertson-Mujic"]

variation_data = []
for full_name in full_names:
    varijacije_za_ime = generate_name_variations(full_name)
    variation_data.append([full_name, varijacije_za_ime])

columns = ["full_name", "name_variation"]

names_with_variations = pd.DataFrame(variation_data, columns=columns)

display(names_with_variations)

,full_name,name_variation
0,Suljo Mehic,"[Suljo Mehic, Mehic Suljo, SM, MS, S.M, M.S]"
1,Wayne Rooneye,"[Wayne Rooneye, Rooneye Wayne, WR, RW, W.R, R.W]"
2,Aleksandar Robertson-Mujic,"[Aleksandar Robertson-Mujic, Robertson-Mujic A..."

In [9]:
names_with_all_variations = names_with_variations.explode('name_variation')
display (names_with_all_variations)

                    full_name              name_variation
0                 Suljo Mehic                 Suljo Mehic
0                 Suljo Mehic                 Mehic Suljo
0                 Suljo Mehic                          SM
0                 Suljo Mehic                          MS
0                 Suljo Mehic                         S.M
0                 Suljo Mehic                         M.S
1               Wayne Rooneye               Wayne Rooneye
1               Wayne Rooneye               Rooneye Wayne
1               Wayne Rooneye                          WR
1               Wayne Rooneye                          RW
1               Wayne Rooneye                         W.R
1               Wayne Rooneye                         R.W
2  Aleksandar Robertson-Mujic  Aleksandar Robertson-Mujic
2  Aleksandar Robertson-Mujic  Robertson-Mujic Aleksandar
2  Aleksandar Robertson-Mujic                          AR
2  Aleksandar Robertson-Mujic                          RA
2  Aleksandar Robertson-Mujic                         A.R
2  Aleksandar Robertson-Mujic                         R.A

In [10]:
#Grouping for final_df

names_with_all_variations["_key"] = 1
description["_key"] = 1
final_df=pd.merge(names_with_all_variations, description, on="_key", how="left").drop("_key",axis=1)
display(final_df)

,full_name,name_variation,original_description
0,Suljo Mehic,Suljo Mehic,Had call with W.R. and Suljo Mehic
1,Suljo Mehic,Suljo Mehic,Had call with S.M. and W.R.
2,Suljo Mehic,Mehic Suljo,Had call with W.R. and Suljo Mehic
3,Suljo Mehic,Mehic Suljo,Had call with S.M. and W.R.
4,Suljo Mehic,SM,Had call with W.R. and Suljo Mehic
5,Suljo Mehic,SM,Had call with S.M. and W.R.
6,Suljo Mehic,MS,Had call with W.R. and Suljo Mehic
7,Suljo Mehic,MS,Had call with S.M. and W.R.
8,Suljo Mehic,S.M,Had call with W.R. and Suljo Mehic
9,Suljo Mehic,S.M,Had call with S.M. and W.R.
10,Suljo Mehic,M.S,Had call with W.R. and Suljo Mehic
11,Suljo Mehic,M.S,Had call with S.M. and W.R.
12,Wayne Rooneye,Wayne Rooneye,Had call with W.R. and Suljo Mehic
13,Wayne Rooneye,Wayne Rooneye,Had call with S.M. and W.R.
14,Wayne Rooneye,Rooneye Wayne,Had call with W.R. and Suljo Mehic
15,Wayne Rooneye,Rooneye Wayne,Had call with S.M. and W.R.
16,Wayne Rooneye,WR,Had call with W.R. and Suljo Mehic
17,Wayne Rooneye,WR,Had call with S.M. and W.R.
18,Wayne Rooneye,RW,Had call with W.R. and Suljo Mehic
19,Wayne Rooneye,RW,Had call with S.M. and W.R.
20,Wayne Rooneye,W.R,Had call with W.R. and Suljo Mehic
21,Wayne Rooneye,W.R,Had call with S.M. and W.R.
22,Wayne Rooneye,R.W,Had call with W.R. and Suljo Mehic
23,Wayne Rooneye,R.W,Had call with S.M. and W.R.
24,Aleksandar Robertson-Mujic,Aleksandar Robertson-Mujic,Had call with W.R. and Suljo Mehic
25,Aleksandar Robertson-Mujic,Aleksandar Robertson-Mujic,Had call with S.M. and W.R.
26,Aleksandar Robertson-Mujic,Robertson-Mujic Aleksandar,Had call with W.R. and Suljo Mehic
27,Aleksandar Robertson-Mujic,Robertson-Mujic Aleksandar,Had call with S.M. and W.R.
28,Aleksandar Robertson-Mujic,AR,Had call with W.R. and Suljo Mehic
29,Aleksandar Robertson-Mujic,AR,Had call with S.M. and W.R.
30,Aleksandar Robertson-Mujic,RA,Had call with W.R. and Suljo Mehic
31,Aleksandar Robertson-Mujic,RA,Had call with S.M. and W.R.
32,Aleksandar Robertson-Mujic,A.R,Had call with W.R. and Suljo Mehic
33,Aleksandar Robertson-Mujic,A.R,Had call with S.M. and W.R.
34,Aleksandar Robertson-Mujic,R.A,Had call with W.R. and Suljo Mehic
35,Aleksandar Robertson-Mujic,R.A,Had call with S.M. and W.R.

In [11]:
#Final dataframe

final_df["found"] = final_df.apply(lambda row: row["name_variation"] in row["original_description"],axis=1)
final_df = final_df[final_df["found"]].drop("found", axis=1)

display(final_df)

        full_name name_variation                original_description
0     Suljo Mehic    Suljo Mehic  Had call with W.R. and Suljo Mehic
9     Suljo Mehic            S.M         Had call with S.M. and W.R.
20  Wayne Rooneye            W.R  Had call with W.R. and Suljo Mehic
21  Wayne Rooneye            W.R         Had call with S.M. and W.R.